<div id="container">
  <h1>GitHub Info</h1>

  <%= form_tag("/github_info/get_info", method: "get") do %>
    <label for="github_login">GitHub Login:</label>
    <%= text_field_tag(:github_login) %>
    <%= submit_tag("Get Info") %>
  <% end %>

  <% if @user_info.nil? %>
    <p>Please enter a GitHub login in the form</p>
  <% else %>
    <% if @user_info['name'].nil? %>
      <p class="error-message">Name not found for the given GitHub account</p>
    <% else %>
      <h2>User Info:</h2>

      <p>Name: <%= @user_info['name'] %></p>
      
      <h2>Repositories:</h2>
      <% if @user_info['repos'].any? %>
        <ul>
          <% @user_info['repos'].each do |repo| %>
            <li><%= repo['name'] %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No repositories found</p>
      <% end %>
    <% end %>
  <% end %>
</div>
